Approach (worked - 90k records in 15 min)

In [1]:
import pandas as pd
import psycopg2
import os
import uuid
import logging
from dotenv import load_dotenv
from psycopg2 import pool
from concurrent.futures import ThreadPoolExecutor

# Configure logging
logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)

# Create console handler and set level to INFO
ch = logging.StreamHandler()
ch.setLevel(logging.INFO)

# Create formatter
formatter = logging.Formatter('%(asctime)s - %(levelname)s - %(message)s')

# Add formatter to console handler
ch.setFormatter(formatter)

# Add console handler to logger
logger.addHandler(ch)

# Load environment variables from .env file
load_dotenv()

# Connection parameters
dbname = os.getenv("DB_NAME")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
max_connections = 5  # Adjust the maximum number of connections as needed

# Function to insert data into the PostgreSQL table
def insert_data(chunk_df):
    try:
        # Get a connection from the connection pool
        conn = db_pool.getconn()
        cursor = conn.cursor()

        # Iterate over chunk DataFrame and insert data into the table
        for index, row in chunk_df.iterrows():
            species_id = str(row['species_id'])
            iucn_category_id = str(row['iucn_category_id'])
            iucn_taxon_id = str(row['iucn_taxon_id'])
            cursor.execute("""
                INSERT INTO species (
                    species_id,
                    iucn_category_id,
                    iucn_taxon_id,
                    common_name,
                    binominal_name,
                    name_language,
                    species_group,
                    total_habitat_range_area,
                    small_habitat_range_area,
                    created,
                    updated
                ) VALUES (
                    %s, %s, %s, %s, %s, %s, %s, %s, %s, current_timestamp, current_timestamp
                )""", (
                    species_id,
                    iucn_category_id,
                    iucn_taxon_id,
                    row['common_name'],
                    row['binomial'],
                    row['name_language'],
                    row['group'], 
                    row['total_area'],
                    row['small_range']
                )
            )
        # Commit the transaction
        conn.commit()
        # Return connection to the pool
        db_pool.putconn(conn)
        logger.info(f"Inserted {len(chunk_df)} records into the database.")
    except Exception as e:
        logger.error(f"Error inserting data: {e}")
        if conn:
            conn.rollback()
            db_pool.putconn(conn)

# Create a connection pool
db_pool = psycopg2.pool.SimpleConnectionPool(minconn=1, maxconn=max_connections,
                                             dbname=dbname, user=user,
                                             password=password, host=host,
                                             port=port)

# Read the CSV file into a DataFrame
csv_file = '../data/countries_species.csv'
df = pd.read_csv(csv_file)

# Drop irrelevant columns
df.drop(columns=['iso_a3', 'wb_datanam', 'wb_iso', 'datanam_area', 'datanam_pct_area'], inplace=True)

# Fetch data from the iucn_categories table
query = "SELECT iucn_category_id, abbreviation FROM iucn_categories"
with psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port) as conn:
    with conn.cursor() as cursor:
        cursor.execute(query)
        iucn_categories = cursor.fetchall()

# Create a dictionary for mapping iucn_category abbreviations to ids
iucn_category_mapping = {abbreviation: iucn_category_id for iucn_category_id, abbreviation in iucn_categories}

# Map iucn_category_id to the DataFrame using 'iucn_category' column
df['iucn_category_id'] = df['iucn_category'].map(iucn_category_mapping)

# Drop the 'iucn_category' column as it's no longer needed
df.drop(columns=['iucn_category'], inplace=True)

# Rename 'iucn_id_no' column to 'iucn_taxon_id' to match the table schema
df.rename(columns={'iucn_id_no': 'iucn_taxon_id'}, inplace=True)

df['iucn_taxon_id'] = df['iucn_taxon_id'].astype(str).str.replace('\.0', '', regex=True)

# Replace missing values in 'iucn_category_id' with the UUID corresponding to 'DD' abbreviation
dd_uuid_query = "SELECT iucn_category_id FROM iucn_categories WHERE abbreviation = 'DD'"
with psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port) as conn:
    with conn.cursor() as cursor:
        cursor.execute(dd_uuid_query)
        dd_uuid = cursor.fetchone()[0]

df['iucn_category_id'].fillna(dd_uuid, inplace=True)

# Drop duplicates based on relevant columns
relevant_columns = ['group', 'binomial', 'common_name', 'name_language', 'total_area', 'small_range']
df.drop_duplicates(subset=relevant_columns, keep='first', inplace=True)

# Generate UUIDs for the species_id column
df['species_id'] = [uuid.uuid4() for _ in range(len(df))]

# # Save DataFrame to CSV file
# csv_output_file = '../data/countries_species_processed.csv'
# df.to_csv(csv_output_file, index=False)

# logger.info(f"Processed data saved to {csv_output_file}")

# Insert data into the PostgreSQL table in parallel using ThreadPoolExecutor
chunk_size = 50
total_records = len(df)
logger.info(f"Total records to insert: {total_records}")
with ThreadPoolExecutor() as executor:
    futures = []
    for i in range(0, total_records, chunk_size):
        chunk_df = df[i:i+chunk_size]
        futures.append(executor.submit(insert_data, chunk_df))
    for future in futures:
        future.result()

logger.info("Data insertion completed successfully.")

C:\Users\conno\AppData\Local\Temp\ipykernel_10296\2837328796.py:96: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)
2024-03-02 17:00:23,750 - INFO - Total records to insert: 91220
2024-03-02 17:00:31,058 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:32,709 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:33,058 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:33,366 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:33,984 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:34,065 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:34,742 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:34,742 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:36,198 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:37,760 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:39,718 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:40,258 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:41,038 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:41,241 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:42,478 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:43,393 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:43,928 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:44,508 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:46,588 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:47,118 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:48,268 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:49,028 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:49,878 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:50,258 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:52,138 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:52,341 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:53,431 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:53,898 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:54,558 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:55,378 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:56,258 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:57,358 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:58,470 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:59,268 - INFO - Inserted 50 records into the database.
2024-03-02 17:00:59,889 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:01,085 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:01,220 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:01,458 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:03,468 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:04,120 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:04,818 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:05,718 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:06,878 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:07,079 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:07,817 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:09,338 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:10,432 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:10,465 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:10,938 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:11,551 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:11,751 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:12,958 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:15,386 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:15,838 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:16,828 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:16,988 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:17,108 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:17,125 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:17,906 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:18,625 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:20,398 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:22,668 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:22,859 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:23,368 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:23,496 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:23,878 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:23,988 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:24,236 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:25,062 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:28,899 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:28,978 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:29,349 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:29,426 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:29,439 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:29,908 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:30,214 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:31,166 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:33,858 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:33,886 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:34,921 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:35,010 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:35,117 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:35,478 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:36,272 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:37,753 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:37,771 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:38,028 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:39,398 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:39,578 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:39,724 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:39,958 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:41,818 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:42,178 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:43,011 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:43,598 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:44,378 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:44,402 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:44,525 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:44,678 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:46,448 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:46,861 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:47,288 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:48,379 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:48,868 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:48,888 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:48,932 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:49,268 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:50,538 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:51,520 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:51,749 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:52,738 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:52,968 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:53,248 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:53,258 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:53,608 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:54,568 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:56,103 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:56,502 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:57,358 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:57,469 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:57,688 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:57,709 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:58,108 - INFO - Inserted 50 records into the database.
2024-03-02 17:01:58,808 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:00,528 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:00,708 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:01,678 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:02,096 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:02,248 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:02,281 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:02,616 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:03,068 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:05,048 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:05,176 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:05,944 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:06,494 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:06,668 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:06,678 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:07,068 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:07,211 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:10,018 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:10,438 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:10,693 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:11,265 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:11,731 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:11,764 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:11,938 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:12,218 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:14,378 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:14,738 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:15,201 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:15,552 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:15,774 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:15,958 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:16,350 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:16,502 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:18,598 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:18,708 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:19,494 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:19,688 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:19,750 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:20,078 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:20,739 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:20,823 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:22,724 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:22,744 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:23,668 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:23,699 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:24,148 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:24,184 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:24,918 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:24,961 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:26,868 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:27,049 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:27,802 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:28,178 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:28,429 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:28,438 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:29,318 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:29,373 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:30,838 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:31,218 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:31,778 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:32,516 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:32,605 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:32,616 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:33,466 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:33,649 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:34,888 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:35,378 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:35,868 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:36,652 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:36,811 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:37,088 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:37,798 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:38,438 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:38,858 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:39,688 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:40,068 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:41,078 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:41,439 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:41,608 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:42,318 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:43,258 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:43,458 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:44,126 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:44,148 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:45,194 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:45,668 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:46,248 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:47,038 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:47,528 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:47,650 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:48,329 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:48,429 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:49,579 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:50,114 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:50,486 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:51,488 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:51,718 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:51,898 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:52,288 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:52,582 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:54,219 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:54,623 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:54,999 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:56,028 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:56,117 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:56,519 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:56,634 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:56,988 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:58,358 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:58,790 - INFO - Inserted 50 records into the database.
2024-03-02 17:02:59,171 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:00,198 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:00,218 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:00,548 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:01,278 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:01,447 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:02,803 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:03,298 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:03,608 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:04,488 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:04,640 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:04,739 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:05,510 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:05,578 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:07,061 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:07,598 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:07,818 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:08,661 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:08,938 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:09,154 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:09,902 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:09,990 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:11,363 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:12,125 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:12,225 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:12,618 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:12,899 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:13,349 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:14,133 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:14,370 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:15,518 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:16,468 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:16,548 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:16,738 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:16,958 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:17,655 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:18,288 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:18,588 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:19,738 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:20,667 - INFO - Inserted 50 records into the database.
2024-03-02 17:03:20,798 - INFO - Inserted 50 records into the database.

Save output to file for next step

In [1]:
import pandas as pd
import psycopg2
import os
import uuid
import logging
from dotenv import load_dotenv
from psycopg2 import pool
from concurrent.futures import ThreadPoolExecutor

# Configure logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

# Load environment variables from .env file
load_dotenv()

# Connection parameters
dbname = os.getenv("DB_NAME")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")
host = os.getenv("DB_HOST")
port = os.getenv("DB_PORT")
max_connections = 5  # Adjust the maximum number of connections as needed

# Function to insert data into the PostgreSQL table
def insert_data(chunk_df):
    try:
        # Get a connection from the connection pool
        conn = db_pool.getconn()
        cursor = conn.cursor()

        # Iterate over chunk DataFrame and insert data into the table
        for index, row in chunk_df.iterrows():
            species_id = str(row['species_id'])
            iucn_category_id = str(row['iucn_category_id'])
            iucn_taxon_id = str(row['iucn_taxon_id'])
            cursor.execute("""
                INSERT INTO species (
                    species_id,
                    iucn_category_id,
                    iucn_taxon_id,
                    common_name,
                    binominal_name,
                    name_language,
                    species_group,
                    total_habitat_range_area,
                    small_habitat_range_area,
                    created,
                    updated
                ) VALUES (
                    %s, %s, %s, %s, %s, %s, %s, %s, %s, current_timestamp, current_timestamp
                )""", (
                    species_id,
                    iucn_category_id,
                    iucn_taxon_id,
                    row['common_name'],
                    row['binomial'],
                    row['name_language'],
                    row['group'], 
                    row['total_area'],
                    row['small_range']
                )
            )
        # Commit the transaction
        conn.commit()
        # Return connection to the pool
        db_pool.putconn(conn)
        logger.info(f"Inserted {len(chunk_df)} records into the database.")
    except Exception as e:
        logger.error(f"Error inserting data: {e}")
        if conn:
            conn.rollback()
            db_pool.putconn(conn)

# Create a connection pool
db_pool = psycopg2.pool.SimpleConnectionPool(minconn=1, maxconn=max_connections,
                                             dbname=dbname, user=user,
                                             password=password, host=host,
                                             port=port)

# Read the CSV file into a DataFrame
csv_file = '../data/countries_species.csv'
df = pd.read_csv(csv_file)

# Drop irrelevant columns
df.drop(columns=['iso_a3', 'wb_datanam', 'wb_iso', 'datanam_area', 'datanam_pct_area'], inplace=True)

# Fetch data from the iucn_categories table
query = "SELECT iucn_category_id, abbreviation FROM iucn_categories"
with psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port) as conn:
    with conn.cursor() as cursor:
        cursor.execute(query)
        iucn_categories = cursor.fetchall()

# Create a dictionary for mapping iucn_category abbreviations to ids
iucn_category_mapping = {abbreviation: iucn_category_id for iucn_category_id, abbreviation in iucn_categories}

# Map iucn_category_id to the DataFrame using 'iucn_category' column
df['iucn_category_id'] = df['iucn_category'].map(iucn_category_mapping)

# Drop the 'iucn_category' column as it's no longer needed
df.drop(columns=['iucn_category'], inplace=True)

# Rename 'iucn_id_no' column to 'iucn_taxon_id' to match the table schema
df.rename(columns={'iucn_id_no': 'iucn_taxon_id'}, inplace=True)

df['iucn_taxon_id'] = df['iucn_taxon_id'].astype(str).str.replace('\.0', '', regex=True)

# Replace missing values in 'iucn_category_id' with the UUID corresponding to 'DD' abbreviation
dd_uuid_query = "SELECT iucn_category_id FROM iucn_categories WHERE abbreviation = 'DD'"
with psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port) as conn:
    with conn.cursor() as cursor:
        cursor.execute(dd_uuid_query)
        dd_uuid = cursor.fetchone()[0]

df['iucn_category_id'].fillna(dd_uuid, inplace=True)

# Drop duplicates based on relevant columns
relevant_columns = ['group', 'binomial', 'common_name', 'name_language', 'total_area', 'small_range']
df.drop_duplicates(subset=relevant_columns, keep='first', inplace=True)

# Generate UUIDs for the species_id column
df['species_id'] = [uuid.uuid4() for _ in range(len(df))]

# Save DataFrame to CSV file
csv_output_file = '../data/countries_species_processed.csv'
df.to_csv(csv_output_file, index=False)

logger.info(f"Processed data saved to {csv_output_file}")

# Insert data into the PostgreSQL table in parallel using ThreadPoolExecutor
chunk_size = 50
total_records = len(df)
logger.info(f"Total records to insert: {total_records}")
with ThreadPoolExecutor() as executor:
    futures = []
    for i in range(0, total_records, chunk_size):
        chunk_df = df[i:i+chunk_size]
        futures.append(executor.submit(insert_data, chunk_df))
    for future in futures:
        future.result()

logger.info("Data insertion completed successfully.")